// G L O B A L • V A R I A B L E S

// Viewport Sizes
$w-xs: 340px;
$w-sm: 640px;
$w-md: 860px;
$w-lg: 1100px;
$w-max: 1340px;

// Font Sizes
$fz-xs: $base-font-size - 5;
$fz-sm: $base-font-size - 2;
$fz-md: $base-font-size;
$fz-lg: $base-font-size - 3;
